body{
    margin: 0;
    padding: 0;
    background-color: #0d7ee8;
    color: #e5e5e5;
}

form{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userInfo{
    margin-bottom: 10px;
    outline: none;
}

input[type="submit"] {
    background-color: #0c0a0a;
    color: #e5e5e5;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.item{
    background-color: yellowgreen;
    color: #070808;
    text-align: center;
    box-shadow: 0 0 10px #070808;
    width: 300px;
    margin: 10px auto;
    padding:5px 0; 
}